* {
    color: #333333;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background:
        linear-gradient(-90deg, rgba(95,95,95,.05) 1px, transparent 1px),
        linear-gradient(rgba(95,95,95,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(95,95,95, .04) 1px, transparent 1px),
        linear-gradient(rgba(95,95,95,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 158px, transparent 158px),
        linear-gradient(-90deg, #ccc 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 158px, transparent 158px),
        linear-gradient(#ccc 1px, transparent 1px),
        #ffffff;
    background-size:
        16px 16px,
        16px 16px,
        160px 160px,
        160px 160px,
        160px 160px,
        160px 160px,
        160px 160px,
        160px 160px;
}

li {
    margin-top: 5px;
}

.user img {
    width: 30px;
    border-radius: 50%;
}

.user_container {
    align-items: center;
    display: inline-flex;
    padding: 0.3rem;
    padding-right: 1.5rem;
}

.user_info {
    padding-left: 0.5rem;
}

.user_name {
    font-style: italic;
    font-size: small;
}

.user_name:not(:empty):before {
    content: '(';
}

.user_name:not(:empty):after {
    content: ')';
}