* {
    color: #333333;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background:
        linear-gradient(-90deg, rgba(95,95,95,.05) 1px, transparent 1px),
        linear-gradient(rgba(95,95,95,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(95,95,95, .04) 1px, transparent 1px),
        linear-gradient(rgba(95,95,95,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 158px, transparent 158px),
        linear-gradient(-90deg, #ccc 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 158px, transparent 158px),
        linear-gradient(#ccc 1px, transparent 1px),
        #ffffff;
    background-size:
        16px 16px,
        16px 16px,
        160px 160px,
        160px 160px,
        160px 160px,
        160px 160px,
        160px 160px,
        160px 160px;
}

li {
    margin-top: 5px;
}

.user img {
    width: 30px;
    border-radius: 50%;
}